* {
  margin: 0;
  padding: 0;
  font-family: "Schoolbell", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
}

.title {
  color: #606c38;
}

#canvas {
  height: 500px;
  width: 500px;
  background-color: white;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pixel {
  cursor: crosshair;
  background: none;
}

.pixel:hover {
  border: black solid 1px;
}

input[type="color"] {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


input[type="color"]::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}


button.pencil,
button.eraser,
button.eyedropper,
button.clear {
  width: 50px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10px;
  padding: .75rem;
}


.controls {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.controls .drawing {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 1rem;
}


.controls .grid-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.controls .grid-size > h2 {
  text-align: center;
}

.controls .grid-size > input {
  width: 100%;
}

.controls .grid-size > button {
  width: fit-content;
  margin-top: 1rem;
  background-color: #606c38;
  color: #fefae0;
}

.controls .grid-size > button:hover {
  opacity: 70%;
}

.modal-background {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #00000088;
  position: absolute;

  justify-content: center;
  align-items: center;
}


@keyframes fly-in{
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%
  }
}

.modal {
  background-color: #fefae0;
  border-radius: 10px;
  transition: all;
  padding: 1rem;
  animation: 0.3s ease-in-out 0s fly-in;

  font-size: 3rem;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}